In [1]:
#Write a Pandas program to implement following operation
#to create a dataframe from a dictionary and display it

# Developed By: Pankhaniya Dixant 
# Enrollement No: 216270307060

import numpy as np 
import pandas as pd 

data = {
    'Name': ['Dixant','Deep','Mitesh','Prakash'],
    'Age': [18, 17, 20, 19]
}

df = pd.DataFrame(data)
print(df)

      Name  Age
0   Dixant   18
1     Deep   17
2   Mitesh   20
3  Prakash   19

In [2]:
#Write a Pandas program to implement following operation
#to sort the DataFrame first by 'name' in ascending order

# Developed By: Pankhaniya Dixant 
# Enrollement No: 216270307060

import pandas as pd

data = {
    'Name': ['Dixant','Deep','Mitesh','Prakash'],
    'Age':  [18, 17, 20, 19]  
}

df = pd.DataFrame(data)
df_sorted = df.sort_values(by='Name', ascending=True)

print(df_sorted)

      Name  Age
1     Deep   17
0   Dixant   18
2   Mitesh   20
3  Prakash   19

In [3]:
#Write a Pandas program to implement following operation
#to delete the one specific column from the DataFrame

# Developed By: Pankhaniya Dixant 
# Enrollement No: 216270307060

import pandas as pd

data = {
    'Name': ['Dixant','Deep','Mitesh','Prakash'],
    'Age':  [18, 17, 20, 19]
}

df = pd.DataFrame(data)
print('Original DataFrame:\n', df)

df = df.drop(columns=['Age'])
print('\nModified DataFrame:\n', df)

Original DataFrame:
       Name  Age
0   Dixant   18
1     Deep   17
2   Mitesh   20
3  Prakash   19

Modified DataFrame:
       Name
0   Dixant
1     Deep
2   Mitesh
3  Prakash

In [4]:
#Write a Pandas program to implement following operation
#to write a DataFrame to CSV file using tab separator

# Developed By: Pankhaniya Dixant 
# Enrollement No: 216270307060

import pandas as pd

data = {
    'Name': ['Dixant','Deep','Mitesh','Prakash'],
    'Age':  [18, 17, 20, 19]
}

df = pd.DataFrame(data)
df.to_csv('output_file.csv', sep='\t', index=False)

print("DataFrame has been written to 'output_file.csv' with tab separator.")

DataFrame has been written to 'output_file.csv' with tab separator.